<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/app.css" type="text/css" />
    <link rel="stylesheet" href="style/ui-grid.css" type="text/css" />
    <link rel="stylesheet" href="style/ng-table.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
    <script src="libs/jquery/jquery-2.1.1.min.js"></script>
    <script src="course.js"></script>
    <script src="app.controller.js"></script>
    <script src="app.js"></script>    
    <script src="libs/ng-table/ng-table.js"></script>
</head>
<body ng-app="controllerAsExample">
    <div id="ctrl" ng-controller="coursecontroller as ctrl">
        Only current: <input type="checkbox" ng-model="checked">
        <!--
        <button ng-click="ctrl.filter()">greet</button><br />
        Courses:
        <table>
            <tr ng-repeat="course in ctrl.Courses" ng-class="{foundational: course.foundational}" ng-show="course.current || checked">
                <td>{{ course.id }}</td>
                <td><a href="{{course.url}}">{{ course.title }}</a></td>
            </tr>
        </table>-->
        <table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="course in $data" ng-show="ctrl.canShow(course.id)">
                <td data-title="'Dept'" sortable="'dept'">{{course.dept}}</td>
                <td data-title="'Course #'" sortable="'id'">{{course.id}}</td>
                <td data-title="'Title'" sortable="'title'"><a target="_blank" ng-href="{{course.url}}">{{course.title}}</a></td>                
                <td data-title="'Offering'" sortable="'title'">{{course.available}}</td>
            </tr>
        </table>
    </div>
</body>
</html>