<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/app.css" type="text/css" />
    <link rel="stylesheet" href="style/ui-grid.css" type="text/css" />
    <link rel="stylesheet" href="style/ng-table.css" type="text/css" />    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
    <script src="libs/jquery/jquery-2.1.1.min.js"></script>
    <script src="course.js"></script>
    <script src="app.controller.js"></script>
    <script src="app.js"></script>
    <script src="libs/ng-table/ng-table.js"></script>
</head>

<body ng-app="omscs-course-app">

    <div class="navcontainer">
        <ul class="nav">
            <li><a href="/">Course list</a></li>
            <li><a href="/page/about">Courses vs Specializations</a></li>
            <li><a href="/page/properties">Specializazion view</a></li>
            <li><a href="/page/services">Info/About</a></li>
        </ul>
    </div>

    <div id="ctrl" ng-controller="coursecontroller as ctrl">
        <div class="config-top">
            Select availability:
            <select ng-options="item.id as item.text for item in ctrl.semesterOptions" ng-model="ctrl.currentSelection" required>
                <option value=""></option>
            </select>
            Show only foundational courses:
            <input type="checkbox" ng-model="onlyfoundational">
        </div>

        <table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped table-courselist">
            <tr ng-repeat="course in $data" ng-show="ctrl.canShow(course.id) && (!onlyfoundational || course.foundational )" ng-class="{regular: !course.foundational, foundational: course.foundational, notavailable: !course.current}">
                <td data-title="'Subject'" sortable="'subject'">{{course.subject}}</td>
                <td data-title="'Course #'" sortable="'id'">{{course.id}}</td>
                <td data-title="'Title'" sortable="'title'"><a target="_blank" ng-href="{{course.url}}">{{course.title}}</a></td>
                <td data-title="'Availability'" sortable="'available'">{{ctrl.availabilityText(course.available)}}</td>
                <td data-title="'Instructor(s)'"><label ng-repeat="i in course.instructors">{{i}}{{$last ? '' : ', '}}</label></td>
            </tr>
        </table>

        <div class="info-bottom">
            Color codes:
            <table>
                <tr>
                    <td class="foundational">Foundational course</td>
                    <td class="regular">Regular course</td>
                    <td class="notavailable">Not available (as of Fall 2015)</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>