body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    text-align: center;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

table .foundational {
    background-color: #e0e0e0;
}

table .regular {
}

table .notavailable {
    background-color: #ffd1d1;
}

table .core {
    background-color: lightgreen;
}

table .elective {
    background-color: lightskyblue;
}

table .discontinued {
    background-color: red;
}

table .completed {
    font-style: italic;
    border: solid green 2px;
}

table .completedbox.completed {
    background-color: green;
}

.config-top {
    margin-bottom: 10px;
}

.info-bottom {
    margin-top: 20px;
}

.nav {
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    display: table;
    height: 35px;
}

.nav li {
    float: left;
    display: inline-block;
}

.nav > li label {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    min-width: 190px;
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    height: 35px;
    line-height: 35px;
}

.nav > li label:hover {
    background-color: cornflowerblue;
}

.navcontainer {
    width: 100%;
    height: 35px;
    background-color: steelblue;
    margin-bottom: 20px;
}

.infopage > h2 {
    font-size: 17px;
    text-align: left;
}

.infopage > p {
    font-size: 13px;
    text-align: left;
}

.infopage > ul > li {
    font-size: 13px;
    text-align: left;
}
